<div class="container">

    <div class="row">

        <div class="col-sm-8 col-sm-offset-2 about-container">

            <div class="about-header">

                <h1 class="about-header__h1">Chameleon</h1>

                <h3>This is a single page application with some interesting articles in the field of popular science, technology and environment. All the articles are taken from the 
                    <a href="http://open-platform.theguardian.com/">The Guardian.</a>
                </h3>

                <h3>This project is for the course "Web front-end develeopment" at
                    <a href="http://telerikacademy.com/">Telerik Academy</a> and it's for educational purposes only. 
                </h3>

                <h3><a href="https://github.com/svrakata/Front-end-Project">GitHub Repo</a></h3>

            </div>

            <h2 class="about-header__h2">Technologies:</h2>

            <ul class="list-group">
                <li class="list-group-item">HTML</li>
                <li class="list-group-item">CSS</li>
                <li class="list-group-item">JavaScript</li>
            </ul>

            <div class="list-group">

                <h2 class="about-header__h2">Libraries, plugins:</h2>

                <a href="https://jquery.com/" class="list-group-item">jQuery</a>
                <a href="http://getbootstrap.com/" class="list-group-item">Bootstrap</a>
                <a href="https://babeljs.io/" class="list-group-item">Babel</a>
                <a href="https://github.com/systemjs/systemjs" class="list-group-item">SystemJS</a>
                <a href="https://github.com/krasimir/navigo" class="list-group-item">Navigo</a>
                <a href="http://handlebarsjs.com/" class="list-group-item">Handlebars</a>
                <a href="https://firebase.google.com/" class="list-group-item">Firebase</a>
                <a href="http://fontawesome.io/" class="list-group-item">Fontawesome</a>
                <a href="https://owlcarousel2.github.io/OwlCarousel2/" class="list-group-item">Owl Carousel</a>

            </div>

        </div>

    </div>

</div>