<div class="container">
    <div class="row">





        <div class="col-sm-6 col-sm-offset-3 auth-forms">
            
            <button class="auth-forms__login-btn">login</button>

            <button class="auth-forms__register-btn">register</button>

            <form class="login-form">
            
                <div class="form-group">
                    <label for="login-form__email">Email address:</label>
                    <input type="email" class="form-control" id="login-form__email" name="email">
                </div>
            
                <div class="form-group">
                    <label for="login-form__pwd">Password:</label>
                    <input type="password" class="form-control" id="login-form__pwd" name="password">
                </div>
            
                <button type="submit" class="btn btn-default login-form__button">Log In</button>
            
            </form>

            <form class="register-form">

                <div class="form-group">
                    <label for="register-form__username">Username:</label>
                    <input type="text" class="form-control" id="register-form__username" name="username">
                </div>
            
                <div class="form-group">
                    <label for="register-form__email">Email address:</label>
                    <input type="email" class="form-control" id="register-form__email" name="email">
                </div>
            
                <div class="form-group">
                    <label for="register-form__pwd">Password:</label>
                    <input type="password" class="form-control" id="register-form__pwd" name="password">
                </div>
            
                <button type="submit" class="btn btn-default register-form__button">Register</button>
            
            </form>

        </div>





    </div>
</div>


