<div class="article-comment">

    <div class="article-comment__img-wrapper">
        <img src="./assets/images/default-profile.png" alt="" class="article-comment__img img img-thumbnail">
    </div>

    <div class="article-comment__info-box">

        <span class="article-comment__author">{{username}}</span>

        <span class="article-comment__date">{{date}}</span>

        <p class="article-comment__text">{{text}}</p>

    </div>

</div>