<div class="container">

    <div class="row">

        <div class="col-sm-8 col-sm-offset-2 not-found">
            <h2 class="not-found__h2">The page you are looking for does not exist.</h2>
        </div>

    </div>

</div>
