$normal: #A1ACB2;
$lighter: #CFDDE5;
$lightest: #FEFEFE;
$darkest: #3D5765;
$mid-dark: #A1ACB2;
$darker: #5C6265;

$black: #000000;
$white: #ffffff;
$grey: #d8dbe0;

$darkest-alpha: rgba(61, 87, 101, 0.9);