<header class="main-header">

    <div class="main-nav__container">

        <a href="#" class="main-header__logo">
            <img src="/assets/img/finalLogo.svg" alt="logo" class="main-header__img">
        </a>




        <nav class="main-nav">

            <ul class="main-nav__ul">

                <li class="main-nav__li">
                    <a href="#" class="main-nav__a">Wallet</a>
                </li>

                <li class="main-nav__li">
                    <a href="#" class="main-nav__a">News & Promotions</a>
                </li>

                <li class="main-nav__li">
                    <a href="#" class="main-nav__a">Support</a>
                </li>

            </ul>

        </nav>




        <nav class="user-controls">
            <ul class="user-controls__ul">
                <li class="user-controls__li">
                    <a href="#" class="user-controls__a user-controls__a--icon user-controls__first-icon"></a>
                </li>
                <li class="user-controls__li">
                    <a href="#" class="user-controls__a user-controls__a--icon user-controls__second-icon"></a>
                </li>
                <li class="user-controls__li user-controls__li--no-right-padding">
                    <a href="#" class="user-controls__a user-controls__log-out">Log out</a>
                </li>
            </ul>
        </nav>

    </div>

</header>




<main class="bucket">

</main>




<footer class="main-footer">

    <div class="main-footer__container">

        <a href="#" class="main-footer__a main-footer__a--no-left-padding">Contact Us</a>

        <a href="#" class="main-footer__a">Security</a>

        <p class="main-footer__copyright">&copy;2017 DeepPocket, Inc. All rights reserved.</p>

    </div>
    
</footer>