<div class="home">

    <section class="home-content">

        <div class="home-link-wrapper">
        
            <div class="container">

                <div class="home-title-container">
                
                    <h1 class="home-title">
                        Kamen Kamenov
                    </h1>
                
                    <h2 class="home-subtitle">
                        Front-end developer
                    </h2>
                
                </div>
        
            </div>
        
        </div>

    </section>

</div>