.work__list {
    list-style-type: none;

    margin-top: 60px;

    width: 70%;
}

.work__item {
    background-color: #7884A1;

    display: flex;

    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;

    position: relative;

    transition: background-color 400ms cubic-bezier(0.23, 1, 0.320, 1);
}

.work__item:hover {
    background-color: #616B82;
}

.work__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* .work__item:nth-child(even) .work__link {
    flex-direction: row-reverse;
} */

.work__info {
    flex: 1;
}

.work__img-wrapper {
    flex-basis: 350px;

    margin-left: 20px;
}

.work__img {
    height: 250px;
    
    object-fit: cover;
    
    vertical-align: middle;

    width: 350px;
}

.work__title {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;

    margin-bottom: 20px;

    text-transform: capitalize;
}

.work__p {
    flex: 1;

    color: #ffffff;
    font-size: 20px;

    margin: 0;
}

$boxesLength: 4;

@for $i from 0 through $boxesLength {
    .work__item-#{$i} {
        animation: slidingP#{$i} #{$i * 200 + 500}ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    @keyframes slidingP#{$i} {
        from {
            transform: translateX(500px);
            opacity: 0;
        }
    }
}