/*----------------------------------------------------------*\
    #HOME
\*----------------------------------------------------------*/

@import 'config';

.main-container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 3rem 0 18em;
    position: relative;
    width: 100%;
}


/*----------------------------------------------------------*\
    #HOME-USER-INFO
\*----------------------------------------------------------*/

.user-info {
    // border: 1px solid $inactive;
    font-size: 2.8rem;
    padding: 0.3em 1.1em;
    position: relative;
    width: 100%;
}

    .user-info__profile-img-wrapper {
        display: inline-block;
        height: 3em;
        padding: 1px;
        vertical-align: middle;
        width: 3em;
    }

        .user-info__profile-img {
            height: 3em;
            object-fit: cover;
            widows: 3em;
        }

    .user-info__username {
        display: inline-block;
        margin-left: 0.5em;
        vertical-align: middle;
    }

    .user-info__balance {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        position: absolute;
        right: 3em;
        top: 0;
        height: 100%;
    }

        .user-info__balance-title {
            font-size: 0.6em;
            margin: 0;
            text-align: center;
        }

        .user-info__balance-sum {
            margin: 0;
        }

            .user-info__balance-currency {
                font-size: 0.7em;
            }

            .user-info__balance-trailings {
                font-size: 0.7em;
                
            }



/*----------------------------------------------------------*\
    #MAIN-CONTROLS
\*----------------------------------------------------------*/

.main-controls {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    margin-top: 1.2em;
    width: 100%;
}

    .main-controls__item {
        background-color: $white;
        border: 1px solid $inactive;
        color: $active;
        padding: 1em 0;
        text-align: center;
        text-decoration: none;
        transition: all 300ms ease;
        width: 23%;
    }

    .main-controls__item:hover {
        border-color: $active;
        color: $black;
    }

    .main-controls__item:not(.main-controls__item--active):hover .main-controls__icon {
        transform: scale(1.1,1.1);
    }

    .main-controls__item--active {
        border: 1px solid $active;
        color: $black;
        position: relative;
    }

    .main-controls__item--active:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
        border-top: 20px solid $active;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        margin: 0 auto;
        width: 0;
    }

    .main-controls__item--active:after {
        content: '';
        position: absolute;
        bottom: -19px;
        left: 0;
        right: 0;
        border-top: 20px solid $white;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        margin: 0 auto;
        width: 0;
    }

        .main-controls__icon {
            height: 3em;
            transition: transform 300ms ease;
        }

        .main-controls__title {
            font-weight: 500;
            margin: 0.7em 0 0;
        }



/*----------------------------------------------------------*\
    #SUB-CONTROLS
\*----------------------------------------------------------*/

.controls-content {
    font-size: 1.6rem;
    margin-top: 1.2em;
}

.controls-content--bordered {
    border-left: 1px solid $active;
    border-right: 1px solid $active;
    border-bottom: 1px solid $active;
    min-height: 40rem;
}

.under-construction__wrapper {
    text-align: center;
}

.under-construction__wrapper--bordered {
    border: 1px solid $active;
    text-align: center;
    min-height: 45rem;
}

.under-construction {
    vertical-align: middle;
    min-height: 40rem;
    width: 10rem;
}

.sub-controllers {
    display: flex;
    font-weight: 500;
    width: 100%;
}

    .sub-controllers-item {
        border-top: 1px solid $inactive;
        border-left: 1px solid $inactive;
        border-right: 1px solid $inactive;
        border-bottom: 1px solid $active;
        color: $active;
        flex: 1;
        padding: 1em 0;
        text-align: center;
        text-decoration: none;
        transition: border 300ms ease;
    }

    .sub-controllers-item--active {
        border-top: 1px solid $active;
        border-left: 1px solid $active;
        border-right: 1px solid $active;
        border-bottom: 1px solid $white;
        color: $black;
    }