<div class="description-div" >
    <h1>{{title}}</h1>
    <hr>
    {{#each authors}}
        <h2>{{this}}</h2>
    {{/each}}
    <p>
        {{description}}
    </p>
    <a href="{{infoLink}}" class="google-button">Read on Google Books</a>
    <button class="description-close">X</button>
</div>
